.flex-c {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-c-b {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.flex-col {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.grid-c {
    display: grid;
    place-items: center;
}


 